<template>
    <div class="container">
        <h2>Auction Page</h2>
        <router-link class="btn btn-success" to="/add_auction">Add Auction</router-link>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">AucID</th>
                    <th scope="col">Description</th>
                    <th scope="col">Product</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody v-for="auction in auctions" :key="auction.id" >
                <tr>
                    <td>{{ auction.id }}</td>
                    <td>{{ auction.description }}</td>
                    <td>{{ auction.product }}</td>
                    <td>
                       

                        <router-link :to="{ name:'/show_bid', params: {id:auction.id} }" class="btn btn-warning"> Bid</router-link>
                    
                        
                        <button type="button" class="btn btn-danger" @click.prevent="deleteAuction(auction.id)">
                            Del
                            <i class="fa fa-trash"></i>
                        </button>
                    

                        <router-link :to="{ name:'/get_auction', params: {id:auction.id} }" class="btn btn-primary">Edit</router-link>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
  export default {
    name: 'Auction',
    created () {

      this.loadData(); 

    },

    methods: {
      loadData () {
        let url = this.url + '/api/getAuctions';
        this.axios.get(url).then(response => { 
            this.auctions = response.data; 

          });

        },

        deleteAuction (id) {
          let url = this.url + `/api/deleteAuction/${id}`;
          this.axios.delete(url).then(response => {
            if(response.status) {
              this.loadData(); 
              this.$utils.showSuccess('success', response.message);

            } else {
              this.$utils.showError('error', response.message);
            }
          });
          
        },

      },

      mounted () {
        console.log('Auction List mounted');
      },
      data () {
        return {
          url: document.head.querySelector('meta[name="url"]').content,
          auctions: [],

        }
      }
    
  }


</script>
