<template>
    <div>
        <div>
            <form id="validateForm" @submit.prevent="EditAuction" enctype="multipart/form-data" novalidate>
                <div class="alert alert-danger" role="alert" v-if="errors.length">
                    <li v-for="(error, index) in errors" :key="index">
                        {{ error }}

                    </li>
                </div>

                <div class="mb-3">
                    <label  class="form-label">Auction Product *</label>
                    <input type="text" class="form-control" id="product" v-model="auction.product">
                </div>

                <div class="mb-3">
                    <label for="exa mpleFormControlTextarea1" class="form-label">Product Description *</label>
                    <textarea class="form-control" id="description" rows="3" v-model="auction.description"></textarea>
                </div>

                <div class="mb-3">
                    <label  class="form-label">Auction Qty *</label>
                    <input type="number" class="form-control" id="unit_qty" v-model="auction.unit_qty">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                </form>
        </div>
        

    </div>
  
</template>

<script>
export default {
    created () {
        this.loadData(); 
    },
    data () {
        return {
            url: document.head.querySelector('meta[name="url"]').content,
            auction: {
                product:'',
                description:'',
                unit_qty:'',
            },
            
            errors: [],

        };
    },
    methods: {

        loadData () {
            let url = this.url + `/api/get_auction/${this.$route.params.id}`;
            this.axios.get(url).then((response) => {
                this.auction = response.data;
                console.log(this.auction); 
            });
        },
        EditAuction () {
            this.errors = [];
            if(!this.auction.product) {
                this.errors.push('Product is required!');
            }
            if(!this.auction.description) {
                this.errors.push('Description is required!');
            }
            if(!this.auction.unit_qty) {
                this.errors.push('Quantity is required!');
            }

            if(!this.errors.length) {
                let formData = new FormData();
                formData.append('description', this.auction.description);
                formData.append('product', this.auction.product);
                formData.append('unit_qty', this.auction.unit_qty);

                let url = this.url + `/api/update_auction/${this.$route.params.id}`;
                this.axios.post(url, formData).then((response) => {
                    if(response.status) {
                        // console.log(response.data.message); 
                       
                        this.$utils.showSuccess('Success', response.data.message);
                        this.$router.push({
                            name:'/auction'
                        });
                    } else{
                        this.$utils.showError('Error', response.data.message);
                    }
                }).catch(error => {
                    this.errors.push(error.response.data.error);
                });
            }
        }
        
    },
    mounted: function() {
        // console.log('Acontect component editrf'); 
    }

}
</script>

<style>

</style>