<template>
    <div class="container">
    
        <img src="/images/auction.png">
    
        <router-link class="button" to="/auction">Insert Auction</router-link>
    
    </div>
</template>

<script>
export default {
    name: 'Home'

}
</script>


<style>
.container img {
    width: 100%;
    height: auto;
}

.container .button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
}

.button {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.button:hover {
    background-color: #3e8e41
}

.button:active {
    background-color: #3e8e41;
}
</style>

