<template>
    <div class="container">
        <h2>Bid Page</h2>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Bid ID</th>
                    <th scope="col">Supplier</th>
                    <th scope="col">Unit Price</th>
                </tr>
            </thead>

            <tbody v-if="allBid != ''">
                <tr v-for="abid in allBid">
                    <td>{{ abid.id }}</td>

                    <td>{{ abid.supplier.name }}</td>

                    <td>{{ abid.unit_price }}</td>
                </tr>
            </tbody>

            <div v-else>
                <div class="alert alert-secondary" role="alert">
                    Supplier Bid is currently Empty.
                </div>
            </div>
        </table>

        <div class="accordion" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                    <button
                        class="accordion-button"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseOne"
                        aria-expanded="true"
                        aria-controls="panelsStayOpen-collapseOne"
                    >
                        Bids Details #1
                    </button>
                </h2>

                <div
                    id="panelsStayOpen-collapseOne"
                    class="accordion-collapse collapse show"
                    aria-labelledby="panelsStayOpen-headingOne"
                >
                    <div class="accordion-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <strong>Auction Id: </strong
                                >{{ bidInformation.id }}
                            </li>

                            <li class="list-group-item">
                                <strong>Product: </strong
                                >{{ bidInformation.product }}
                            </li>

                            <li class="list-group-item">
                                <strong>Description: </strong
                                >{{ bidInformation.description }}
                            </li>

                            <li class="list-group-item">
                                <strong>Qty: </strong>{{ bidInformation.qty }}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                    <button
                        class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseTwo"
                        aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseTwo"
                    >
                        Bid as a supplier #2
                    </button>
                </h2>

                <div
                    id="panelsStayOpen-collapseTwo"
                    class="accordion-collapse collapse"
                    aria-labelledby="panelsStayOpen-headingTwo"
                >
                    <div class="accordion-body">
                        <form
                            id="validateForm"
                            @submit.prevent="saveBid"
                            enctype="multipart/form-data"
                            novalidate
                        >
                            <div
                                class="alert alert-danger"
                                role="alert"
                                v-if="errors.length"
                            >
                                <li
                                    v-for="(error, index) in errors"
                                    :key="index"
                                >
                                    {{ error }}
                                </li>
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Supplier *</label>

                                <select
                                    v-model="bid.supplier_id"
                                    class="form-select"
                                    aria-label="Default select example"
                                >
                                    <option value="">Select Supplier</option>

                                    <option
                                        v-for="supplier in supplierNames"
                                        :value="supplier.id"
                                        :key="supplier.id"
                                    >
                                        {{ supplier.name }}
                                    </option>
                                </select>
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Unit Price *</label>

                                <input
                                    v-model="bid.unit_price"
                                    type="number"
                                    class="form-control"
                                    id="unit_qty"
                                />
                            </div>

                            <button type="submit" class="btn btn-primary">
                                Submit
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "BidInfo",
    created() {
        this.loadDataAuctionSupplier();
        this.loadDataBid();
    },
    data() {
        return {
            url: document.head.querySelector('meta[name="url"]').content,
            errors: [],
            allBid: [],
            supplierNames: [],
            bid: {
                supplier_id: "",
                unit_price: ""
            },
            auction_id: this.$route.params.id,

            bidInformation: {
                id: "",
                product: "",
                description: "",
                qty: ""
            }
        };
    },
    methods: {
        loadDataAuctionSupplier() {
            let url = this.url + `/api/getAuctionSuppliers/${this.auction_id}`;
            this.axios.get(url).then(response => {
                this.supplierNames = response.data["supplier"];
                this.bidInformation.id = response.data["auction"][0].id;
                this.bidInformation.product =
                    response.data["auction"][0].product;
                this.bidInformation.description =
                    response.data["auction"][0].description;
                this.bidInformation.qty = response.data["auction"][0].unit_qty;
            });
        },

        loadDataBid() {
            let url = this.url + `/api/getBid/${this.auction_id}`;
            this.axios.get(url).then(response => {
                this.allBid = response.data;
            });
        },

        saveBid() {
            this.errors = [];

            if (!this.bid.supplier_id) {
                this.errors.push("Supplier is required!");
            }

            if (!this.bid.unit_price) {
                this.errors.push("Unit Price is required!");
            }

            if (!this.errors.length) {
                let formData = new FormData();
                formData.append("unit_price", this.bid.unit_price);
                formData.append("auction_id", this.auction_id);
                formData.append("supplier_id", this.bid.supplier_id);

                let url = this.url + "/api/SaveBidItem";
                this.axios
                    .post(url, formData)
                    .then(response => {
                        if (response.status) {
                            // console.log(response.data.message);
                            // console.log(response.data.message);
                            console.log(response);
                            this.loadDataBid();

                            this.$utils.showSuccess(
                                "Success",
                                response.data.message
                            );
                        } else {
                            this.$utils.showError(
                                "Error",
                                response.data.message
                            );
                        }
                    })
                    .catch(error => {
                        this.errors.push(error.response.data.error);
                    });
            }

            this.bid = {};
        }
    },

    mounted() {
        console.log("Bid List mounted");
    }
};
</script>
